{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Email") }}
        </fieldset>
        <fieldset>
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password")}}
        </fieldset>
        {{ form.submit(class="btn btn-success") }}
    </div>
</form>
{% endblock content %}